@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    position: relative;
    /* le impostazioni generiche per essere sovrascritte devono essere specificate direttamente nella classe di interesse! */
}

h2 {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    transition: all 2000ms ease;
    text-decoration: none;
}

a:after {
    content: ""; /* le quotazioni vuote vogliono dire "genera questa classe", altrimenti in casi diversi si inseriva quella desiderata per farla apparire */
    position: absolute;
    height: 2px;
    background-color: black;
    width: 0; /*diventerà 100% una volta che ci passo sopra col mouse ,vedi classe subito dopo */
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

a:after {
    background-color: #fff;
}

a:hover:after {
    width: 100%;
    left: 0;  /* parte da sinistra e poi va verso destra */
}

.underline--resizer:after {
    bottom: 4px;
}

.black--underline:after { /*come usare un modificatore after correttamente, non serve inventarsi un AND */
    background-color: black;
}

.no--underline::after {
    height: 0;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 0;
}


.btn {
    color: #f7fafc;
    background-color: #6415FF;
    padding: 12px 32px;
    border-radius: 9999px;
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    font-weight: 600; /* va assegnato in quanto al button HTML è di default associato un font weight di default (ovvero vuoto) */
}

.purple {
    color: #6415FF;
}

.grey {
    color: #a0aec0
}

.white {
    color:white;
}

/* Navigation */

.nav__container {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.025em;
    font-weight: 600;
}

.nav__logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
}

.logo__link {
    margin-right: 12px;
}

.link__img {
    width: 40px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    padding: 0 0 4px 0;
    font-size: 0.875rem;
}

.nav__link--login {
    margin: 0 24px 0 48px;
}

.nav__hamburger {
    display: none;
}

.hamburger__menu {
    display: none;
}

/* header */

.header__container {
    padding: 96px 0;
    display: flex;
}

.header__presentation_text {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__presentation_text--para {
    margin: 44px 0;
    font-size: 1.125rem;
}

.header__presentation_image {
    width: 60%;
}

.presentation_image {
    width: 100%;
}

.presentation__email {
    position: relative;
    margin-right: auto;
}

.btn--presentation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 5px;
}

input {
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 12rem;
    padding-left: 2rem;
    border-radius: 9999px;
}

.header__customers {
    opacity: 0.5;
    margin: 80px 0 0;
    font-size: 0.75rem;
    font-weight: 700;
}

.customers__img {
    width: 100%;
    padding-right: 80px;
    margin-top: 16px;
}

/* features */

.features__container {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features--title {
    font-weight: 900;
}

.features__para {
    text-align: center;
    width: 50%;
    color: rgb(124, 139, 161);
    margin-top: 25px;
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.125rem;
    margin-bottom: 48px;
}

.pricing__para {
    text-align: center;
    width: 90%;
    color: rgb(124, 139, 161);
    margin: 15px 0;
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.125rem;
}

.features__services {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

.features__service {
    width: calc(100%/3);
    display: flex;
    align-items: start;
    padding: 32px 24px;
}

.service__logo {
    display: flex; /* per dare "forma" al contenitore e far in modo che il content della scatola sia esattamente pari in dimensioni all'immagine */
    border: 1px solid gray;
    border-radius: 9999px;
    padding: 24px;
}

.service__description {
    margin: 12px 0 0 12px;
}

.description__title {
    font-weight: 600;
    font-size: 24px;
}

.description__para {
    color: rgb(124, 139, 161);
    margin: 24px 0 0 0;
    padding-right: 40px;
    font-weight: 500;
    line-height: 2;
}

/* Designed */

.designed__wrapper {
    display: flex;
}

.designed__text{
    width: 50%;
    padding: 15px 30px 15px 0;
}

.designed__image {
    width: 50%;
}

.designed__image--resizer {
    width: 100%;
}

.designed__para {
    width: 100%;
    color: rgb(124, 139, 161);
    margin-top: 25px;
    line-height: 1.6;
    font-weight: 500;
    font-size: 1.125rem;
}

.btn--designed {
    margin: 32px 0 32px 0;
}

/* Get started */

.started__container {
    padding: 96px 0;
    display: flex;
}

.started__image {
    width: 50%;
    padding: 50px 0;
}

.started__steps {
    width: 50%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.started__image--resizer {
    width: 100%;
}

.started__step {
    margin-top: 24px;
    display: flex;
}

.step__number {
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(203, 213, 224);
    margin-right: 25px;
}

.step__text {
    font-size: 1.25rem;
    font-weight: 600;
}

.step__text--para {
    font-weight: 500;
    margin-top: 10px;
    font-size: 0.85rem;
    line-height: 2;
    padding-right: 25%;
    color: rgb(113, 128, 150)
}

/* Pricing */

.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.pricing__plans {
    display: flex;
    flex-wrap: wrap; /* cosi in modalità mobile va subito a capo senza dover creare una media query apposta per questa parte, perchè a risoluzioni alte non fa nulla (in questo caso perchè gli elementi ci stanno, ma in mobile metterò una width superiore a 1/3) */
    width: 100%;
}

.plan__wrapper {
    width: calc(100%/3);
    padding: 10px;
}

.line__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing__plan {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 10px;
}

.plan__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0 7px 0;
    border-bottom: 2px solid rgb(226, 232, 240);
}

.plan__type {
    font-weight: 700;
    font-size: 20px;
}

.plan__money {
    font-weight: 700;
    font-size: 3rem;
    margin: 12px 0;
}

.plan__buy {
    padding: 32px 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan__description {
    border-bottom: 2px solid rgb(226, 232, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    font-weight: 500;
}

.description__plan {
    font-weight: 700;
    font-size: 1.25rem;
}

.description__plan--para {
    margin-top: 20px;
    color: #718096;
}

.blue--template {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.line {
    position: absolute;
    top: 0; /* Meglio cosi che width 100%, non sborda */
    left: 0;
    right: 0;
    height: 0.5rem;
    border-top-right-radius: 9999px;
    border-top-left-radius: 9999px;
}

.line--orangered {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.line--marine {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.para--white {
    color: white;
}

.btn--green {
    background: linear-gradient(116deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%); /* colore dal basso all'alto, ruotato di 116 gradi verso destra il risultato finale */
}

.btn--white {
    color: #6415FF;
    background-color: rgb(247, 250, 252);
}

.btn--red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* Footer */

#foot {
    background-color: rgb(100 21 255);
    width: 100%;
    padding: 25px 0 40px;
}

.foot__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foot__links_container {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: start;
    padding-left: 50px;
}

hr {
    margin: 64px 0;
}

.foot__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: white;
}

h3 {
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

h4 {
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
}

.foot__info {
    display: flex;
}

.foot__social_container {
    display: flex;
}

.foot__logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    letter-spacing: 0.7px;
}

.logo__link {
    height: 40px;
}

.resizer {
    height: 100%;
}

.social {
    background-color: white;
    border-radius: 9999px;
    height: 32px;
    width: 32px;
    padding: 8px;
}

.social:not(:last-child) {
    margin-right: 20px;
}

/* Responsiveness */

@media (max-width: 768px) {

    .nav__links {
        display: none;
    }

    body {
        position: relative;
    }

    main {
        padding: 0px 15px;
    }

    .nav__container {
        padding: 0 30px;
    }

    .nav__link {
        margin: 0 0 0 0;
        font-size: 18px;
    }

    .links--mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 90%;
        font-weight: 700;
    }

    .nav__hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: white;
        border: none;
    }

    .hamburger--resizer {
        width: 100%;
    }

    .hamburger__menu.menu--open {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu--open {
        z-index: 1;
        position: fixed;
        background-color: cyan;
        top: 10px;
        left: 10px;
        right: 10px;
        height: 30vh;
    }

    .btn--mobile {
        padding: 20px 50px;
    }

    .cross {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        top: 10px;
        right: 10px;
    }

    .cross--resizer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 100%;
    }

    h2 {
        margin-bottom: 16px;
    }

    .h1--mobile {
        font-size: 30px;
    }

    .header__container {
        flex-direction: column;
        align-items: center;
    }

    .header__presentation_text {
        width: 100%;
        align-items: center;
    }

    .header__presentation_text--para {
        text-align: center;
        width: 80%;
        font-size: 16px;
        margin: 25px 0;
    }

    .presentation__email {
        margin: 0;
    }

    .header__customers {
        width: 80%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .customers__img_container {
        display: flex;
        justify-content: center;
    }

    .customers__img {
        padding-right: 0;
        width: 80%;
    }


    .features__para {
        width: 85%;
        margin-bottom: 0px;
    }

    .features__service {
        width: 50%;
    }

    .designed__image {
        display: flex;
        align-items: center;
    }

    .h1--mobile {
        font-size: 36px;
    }

    .designed__para {
        letter-spacing: -0.5px;
        font-size: 16px;
        margin-top: 16px;
    }

    .btn--designed {
        margin-top: 16px;
    }

    .started__image {
        display: flex;
        align-items: center;
    }

    .pricing__plans {
        display: flex;
        justify-content: center;
    }

    .plan__wrapper {
        width: 60%;
        margin: 30px 0;
    }

    .foot__links_container {
        padding: 0 0 0 0;
    }

    #foot {
        padding: 0 20px 20px;
    }

}